body {
  background-color:#04080F;
}

h1 {
  font-family:arial;
  text-align:center;
  color:#507DBC;
  margin-top:90px;
}

p{
  font-family:arial;
   text-align:center;
  color:#A1C6EA
}
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
ul.nav {
  width: 100%;
  display:inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:#333;
  position: fixed;
  top: 0;
} 
li.nav a {
  display:inline;
 float:left;
  text-align: center;
  color: #FFF;
  padding: 14px 16px;
  text-decoration: none;
}
/* li a:hover {
  background-color: #111;
} */
.active {
  background-color:#507DBC;
}

notnav ul {
  display:inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:#333;
  
}
table {
 color:#A1C6EA;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  position: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

