body {
  background-color:#04080F;
}

h1 {
  font-family:arial;
  text-align:center;
  color:#507DBC;
  margin-top:90px;
}

p{
  font-family:arial;
   text-align:center;
  color:#A1C6EA
}
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:#333;
}

li.nav {
  display:inline;
  float:left;
}
li a.nav {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color:#507DBC;
}
ul.nav {
  position: fixed;
  top: 0;
  width: 100%;
}
table {
 color:#A1C6EA;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

